@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 14px;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
p {
    font-size: 12px;
}

h2{
    margin-bottom: 1rem;
}
span {
    color: hsl(75, 94%, 57%);
}

button {
    background-color: hsl(0, 0%, 20%);
    border: none;
    margin: 0.25rem 0;
    cursor: pointer;
    padding: 0.75rem 0.5rem;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    transition: 0.5s ease;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 18%;
    background-color: hsl(0, 0%, 12%);
    padding: 2rem 2rem;
    text-align: center;
    border-radius: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}